.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    & > input {
        width: 500px;
    }
}

.loginButton {
    margin-left: auto;
    color: var(--color-white);
    background-color: var(--theme-color);
    &:not(:disabled):hover {
        background-color: var(--theme-color-darker);
    }
}


.loadingButton {
    margin-left: auto;
}

.signupLink {
    color: var(--color-dark);
    text-decoration: none;
    margin-bottom: var(--margin-1);
    &:hover {
        color: var(--color-more-dark);
        text-decoration: underline;
    }
}

.error {
    position: absolute;
    bottom: 36px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    color: red;
}

.error.show {
    opacity: 1;
}
