.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.signupButton {
    margin-left: auto;
}