.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    & > div, p {
        width: 500px;
    }
    & > button {
        width: 85px;
    }
}

.signupButton {
    margin-left: auto;
    color: var(--color-white);
    background-color: var(--theme-color);
    &:not(:disabled):hover {
        background-color: var(--theme-color-darker);
    }
}
