.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    & > div, p {
        width: 500px;
    }
    & > button {
        width: 85px;
    }
}

.signupButton {
    margin-left: auto;
}
