.button {
  padding: 12px;
  width: 96px;
  border: none;
  border-radius: 4px;
  color: var(--color-dark);
}

.button:disabled {
  color: var(--color-white);
  background-color: var(--color-dark);
}